@mixin position($method, $values, $z: null) {
  // Define valid positions
  $valid-positions: (top, right, bottom, left);

  // Detect shortands and convert them to four value
  @if length($values) == 1 {
    $values: $values $values $values $values; 
  } @else if length($values) == 2 {
    $values: nth($values, 1) nth($values, 2) nth($values, 1) nth($values, 2);
  } @else if length($values) == 3 {
    $values: nth($values, 1) nth($values, 2) nth($values, 3) nth($values, 2);
  } @else {
    $values: nth($values, 1) nth($values, 2) nth($values, 3) nth($values, 4);
  }

  // Output position type
  position: unquote($method);

  // Output positions
  // Loop anchors
  $iterator: 0;
  @each $position in $valid-positions {    
    $iterator: $iterator + 1;

    // Fetch to position value in values parameter
    $value: nth($values, $iterator);
    
    // If value is not underscore, output position
    // Underscore is an escape charachter
    @if $value != '_' {
      #{$position}: $value;
    }
  }

  // Output z-index
  z-index: $z;
}